<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>It's a Generic Dude!</h1>
    <p>
      Lorem ipsum dolor amet pork belly man braid distillery, authentic tousled next level bespoke. Letterpress pinterest freegan venmo raclette messenger bag lo-fi mlkshk. 90's next level hexagon, shoreditch live-edge leggings iceland copper mug echo park vexillologist hashtag tumeric bitters taxidermy. Man braid taxidermy +1 keffiyeh art party four dollar toast salvia cloud bread.
    </p>
  </div>
</div>